#fiszka {
	-fx-background-color: #CCE5FF;
	-fx-focus-color: black;
	-fx-border-color: black;
	-fx-border-width: 3;
	-fx-border-radius: 15;
	-fx-padding: 40;
	-fx-background-radius: 15;
}

#ucz {
	-fx-background-color: transparent;
	-fx-border-color: red;
	-fx-border-width: 7;
	-fx-padding: 20;
}

#menu {
    -fx-background-color: #1BA1E2;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-padding: 5;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-margin: 10;
	-fx-min-width: 70;
}

#kategoria {
	-fx-background-color: transparent;
	-fx-border-color: red;
	-fx-border-width: 5;
	-fx-padding: 10;

}

.toggle-button {
    -fx-background-color: red;
}

.toggle-button:selected {
    -fx-background-color: green;
}
